<style type="text/css">

p {

}

/* fonts applied to whole site */
body {
    font-family: Verdana, Helvetica, Arial;
}
/*login page background color */
body.login-page {
	background: #edcbe6;
}

h1 {
	background: white;
	margin: auto;
	margin-top: 15%;
	margin-bottom: 1%;
	width: 50%;
	border-radius: 5px;
}

#login-button {
	background: white;
	margin: auto;
	width: 10%;
	border-radius: 5px;
	display: block;
}

.login {
	color: white;
	background: #65548f;
	margin: auto;
	width: 50%;
	border-radius: 5px;
}
/* forgot password button */
#forgot-password {
	color: white;
}

input {
	display: block;
	width: 90%;
	margin: auto;
	margin-top: 1%;
	margin-bottom: 1%;
	border-radius: 5px;
}

/* left margin should be the same as the side nav width */
.main-page{
	margin-left: 150px;
}

.home-banner {
	background: grey;
	color: white;
}

/* add to your collections and create a new collection buttons */
button.home-banner {
	color: white;
	background: #65548f;
	border-radius: 5px;
}

/* side navigation bar */
nav.side-nav {
	height: 100%;
	width: 150px;
	background: #FFBDF7;
	position: fixed;
	overflow-x: hidden;
	left: 0;
	top: 0;
}

.collections {
	text-align: center;
}
/* sidenav links should not appear as inline */
a.side-nav {
	display: block;
}