.main-page {
	margin: 0;
	display: grid;
	grid-template-columns: 150px 1fr;
	grid-template-rows: auto auto 1fr;
	grid-template-areas: 
		"side-nav collection-banner"
		"side-nav filter-section"
		"side-nav collections";
	height: 100vh;
}

nav.side-nav {
	grid-area: side-nav;
	background: #070e18;
}

.collection-banner {
	grid-area: collection-banner;
}

.filter-section {
	grid-area: filter-section;
}

.collections {
	grid-area: collections;
	overflow-y: auto; /* Add scrolling if content exceeds height */
	padding: 20px;
}